DB=mongodb://cedimed-upwork:pFvCfYtztoL7eLsM@cluster0-shard-00-00.igkmg.mongodb.net:27017,cluster0-shard-00-01.igkmg.mongodb.net:27017,cluster0-shard-00-02.igkmg.mongodb.net:27017/cedimed?ssl=true&replicaSet=atlas-sm5641-shard-0&authSource=admin&retryWrites=true&w=majority